$dark: #383F45;
$lightDark: #656565;
$white: #ffffff;
$orange: #F1731B;
$gray: #F2F2F2;
$darkGray: #B7B7B7;
$tr: transparent;

.color-dark {
  color: $dark;
}
.color-lightDark {
  color: $lightDark;
}
.color-white {
  color: $white;
}
.color-orange {
  color: $orange;
}
.color-gray {
  color: $gray;
}
.color-darkGray {
  color: $darkGray;
}
.color-tr {
  color: $tr;
}