$mThin: 'Montserrat-Thin';
$mExtraLight: 'Montserrat-ExtraLight';
$mLight: 'Montserrat-Light';
$mRegular: 'Montserrat-Regular';
$mMedium: 'Montserrat-Medium';
$mSemiBold: 'Montserrat-SemiBold';
$mBold: 'Montserrat-Bold';
$mExtraBold: 'Montserrat-ExtraBold';
$mBlack: 'Montserrat-Black';
$mItalic: 'Montserrat-Italic';

.font-mThin {
  font-family: $mThin !important;
}
.font-mExtraLight {
  font-family: $mExtraLight !important;
}
.font-mLight {
  font-family: $mLight !important;
}
.font-mRegular {
  font-family: $mRegular !important;
}
.font-mMedium {
  font-family: $mMedium !important;
}
.font-mSemiBold {
  font-family: $mSemiBold !important;
}
.font-mBold {
  font-family: $mBold !important;
}
.font-mExtraBold {
  font-family: $mExtraBold !important;
}
.font-mBlack {
  font-family: $mBlack !important;
}
.font-mItalic {
  font-family: $mItalic !important;
}