.intro {
  &__offer {
    padding-top: 58px;
    padding-right: 50px;

    @include r(1200) {
      padding-top: 30px;
      padding-right: 0;
    }

    &-info {
      position: relative;

      @include rmin(1200) {
        max-width: 420px;
      }
    }

    &-arrow {
      position: absolute;
      top: -124px;
      left: 190px;
      max-height: 160px;
    }
  }

  .info {
    position: relative;
    z-index: 1;
  }

  &__terms {
    position: relative;
    padding-top: 54px;
    padding-bottom: 15px;

    @include r(1200) {
      padding-top: 25px;
      padding-bottom: 25px;
    }

    &::before {
      position: absolute;
      content: '';
      width: calc(100% + 90px);
      height: 105%;
      background-color: $white;
      left: -45px;
      bottom: 0;
      box-shadow: 0 4px 18px 2px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      border: 1px solid #EEEEEE;

      @include r(1200) {
        height: 100%;
      }

      @include r(768) {
        left: -15px;
        width: calc(30px + 100%);
      }
    }

    & > * {
      position: relative;
    }
  }

  &__logo {
    max-width: 200px;
    height: auto;
  }

  &__row {
    display: grid;
    grid-template-columns: 0.8fr 1fr;

    &:not(:last-child) {
      border-bottom: 1px solid #959fa7;
    }
  }

  &__column {
    padding: 12px 8px;

    @include r(768) {
      padding: 5px;
    }

    &:first-child {
      font-family: $mBold;
      border-right: 1px solid #959fa7;
    }
  }

}

.info {
  padding: 20px;
  border-radius: 4px;
  background-color: $dark;
  display: grid;
  grid-template-columns: 67px 1fr;
  grid-column-gap: 25px;
  align-items: center;

  @include r(768) {
    padding: 15px;
    grid-template-columns: 40px 1fr;
    grid-column-gap: 15px;
  }

  &__circle {
    width: 67px;
    height: 67px;
    background-color: $orange;
    border-radius: 50%;
    @include flex-center;

    @include r(768) {
      width: 40px;
      height: 40px;
    }

    svg {
      fill: $white;
      width: 42px;
      height: 35px;

      @include r(768) {
        width: 24px;
      }
    }
  }

  &__text {
    color: $white;

    @include rmin(1200) {
      font-size: 1.5rem;
    }
  }
}


.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__item {
    position: relative;
    padding-left: 25px;

    @include r(768) {
      padding-left: 15px;
    }

    &:hover {
      &::before {
        transform: translateX(3px);
      }
    }

    &::before {
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      border-top: 7px solid $tr;
      border-bottom: 7px solid $tr;
      border-left: 15px solid $orange;
      left: 1px;
      top: 4px;
      @include ease;

      @include r(768) {
        border-top: 5px solid $tr;
        border-bottom: 5px solid $tr;
        border-left: 10px solid $orange;
      }
    }

    &:not(:last-child) {
      margin-bottom: 15px;

      @include r(768) {
        margin-bottom: 10px;
      }
    }
  }
}

.testimonial {
  padding: 20px 40px;
  box-shadow: 0 4px 18px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: 1px solid #EEEEEE;
  @include ease;

  @include r(1200) {
    padding: 10px 25px;
  }

  @include r(768) {
    padding: 10px 15px;

    .section__subtitle {
      font-size: 1.3rem;
    }
  }

  &:hover {
    box-shadow: 0 4px 26px 2px rgba(0, 0, 0, 0.3);
  }

  &:not(:last-child) {
    margin-bottom: 30px;

    @include r(1200) {
      margin-bottom: 10px;
    }
  }

  &__table {
    background-color: #F2F2F2;
    border: 1px solid #959fa7;
    border-bottom: unset;

    @include r(768) {
      font-size: 0.9rem;
    }

    &-row {
      display: grid;
      grid-template-columns: repeat(3, 1fr);


      &:first-child {
        .testimonial__table-column:last-child {
          background-color: $dark;
          color: $white;
          box-shadow: 0 0 0 4px $dark;
          border-bottom: unset;
        }
      }

      &:first-child,
      &:nth-child(2) {

        .testimonial__table-column:last-child {
          &::before,
          &::after {
            display: none;
          }
        }
      }
    }

    &-column {
      height: 100%;
      padding: 12px 8px;
      border-bottom: 1px solid #959fa7;
      display: flex;
      align-items: center;

      @include r(768) {
        padding: 5px;
      }

      &:not(:last-child) {
        border-right: 1px solid #959fa7;
      }

      &:last-child {
        position: relative;
        box-shadow: 0 0 0 4px #383f45;

        &::before,
        &::after {
          position: absolute;
          content: '';
          width: 100%;
          left: 0;
        }

        &::before {
          background-color: #F2F2F2;
          height: 20px;
          top: -10px;

          @include r(768) {
            height: 14px;
          }
        }

        &::after {
          height: 1px;
          top: -1px;
          background-color: #959fa7;
        }
      }
    }
  }
}

.cases {
  &__table {
    background-color: #F2F2F2;
    border: 1px solid #959fa7;
    border-bottom: unset;

    &-row {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    &-column {
      height: 100%;
      padding: 12px 8px;
      border-bottom: 1px solid #959fa7;
      display: flex;
      align-items: center;

      &:not(:last-child) {
        border-right: 1px solid #959fa7;
      }
    }
  }

  &__intro {
    padding-top: 58px;
    padding-right: 50px;

    @include r(1200) {
      padding-top: 0;
      padding-right: 0;
    }
  }

  &__info {
    position: relative;
    padding-top: 66px;
    padding-bottom: 45px;
    padding-left: 30px;

    @include r(768) {
      padding-left: 0;
      padding-bottom: 25px;
    }


    &::before {
      position: absolute;
      content: '';
      width: calc(100% + 90px);
      height: 100%;
      background-color: $white;
      left: -45px;
      bottom: 0;
      box-shadow: 0 4px 18px 2px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      border: 1px solid #EEEEEE;

      @include r(768) {
        left: -15px;
        width: calc(30px + 100%);
      }
    }

    & > * {
      position: relative;
    }

    &-bottom {
      position: relative;
      background-color: $dark;
      padding-top: 25px;
      padding-bottom: 25px;
      margin-top: 110px;

      @include r(1200) {
        margin-top: 40px;
      }

      & > * {
        position: relative;
      }

      &::before {
        position: absolute;
        content: '';
        width: calc(100% + 120px);
        height: 100%;
        left: -75px;
        top: 0;
        background-color: $dark;

        @include r(768) {
          left: -15px;
          width: calc(30px + 100%);
        }
      }
    }
  }

  &__subtitle {
    &-wrapper {
      position: relative;
    }

    &-tick {
      position: absolute;
      fill: $orange;
      width: 42px;
      height: 35px;
      left: -50px;

      @include r(768) {
        left: -3px;
        top: -36px;
      }
    }
  }
}

.team {
  &__top {
    color: $white;
    background-color: $dark;
    border-radius: 9px;
    overflow: hidden;
    border-bottom: 5px solid $dark;
    @include ease;
  }

  &__picture {
    width: 100%;
    max-width: 100%;
    height: auto;

    &-wrapper {
      border-bottom-left-radius: 9px;
      border-bottom-right-radius: 9px;
      overflow: hidden;
      @include ease;
    }
  }

  &__name {
    padding: 12px 7px 8px;
    @include ease;

    @include r(768) {
      font-size: 0.9rem;
    }
  }

  &__position {
    padding: 7px;
  }

  &:hover {
    .team__top {
      border-bottom-color: #7B7B7B;
    }
    .team__picture-wrapper,
    .team__name {
      transform: translateY(-5px);
    }
  }
}

.contacts {
  box-shadow: 0 4px 18px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: 1px solid #EEEEEE;

  &__text {
    font-size: 1.5rem;

    @include r(768) {
      font-size: 1rem;
    }
  }

  &__item {
    display: grid;
    grid-template-columns: 35px 1fr;
    grid-column-gap: 18px;
    align-items: center;

    @include r(768) {
      grid-template-columns: 22px 1fr;
      grid-column-gap: 15px;
      margin-bottom: 15px;
    }

    @include rmin(768){
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }

  &__icon {
    width: 35px;
    height: 35px;

    fill: $dark;

    @include r(768) {
      width: 22px;
      height: 22px;
    }
  }

  &__logo {
    max-width: 200px;
    height: auto;
  }
}